.user-photo {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

ion-item:hover {
    cursor: pointer;
    .item-native{
        --ion-background-color: red;
    }
}
