.new-item {
    --color: var(--ion-color-primary);

    div.new-item-wrapper {
        width: 100%;
    }

}

.brewlog-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}