<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.model.camunda-bpmn-model">
  <resources>
  	<artifact name="org.camunda.bpm.model:camunda-bpmn-model:7.11.0" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.camunda.bpm.model.camunda-xml-model" />

  </dependencies>
</module>
